.start {
    margin-top: 54px;
}

.text-center {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

.btn {
    white-space: inherit;
}

@media screen and (max-width: 576px){
    .navbar {
        height: 170px;
    }

    .start {
        margin-top: 170px;
    }
}