<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Game Picker</title>
</head>
<body>
    <nav th:include="include/menu::menu" class="navbar navbar-fixed-top navbar-dark bg-inverse"></nav>
    <div class="container start pt-2">
        <form action="/new-game" method="post">
            <div class="form-group">
                <label for="nom">Nom du jeu :</label>
                <input type="text" class="form-control" id="nom" name="nom" value="" placeholder="Nom du jeu">
            </div>
            <div class="form-group">
                <label for="support">Support :</label>
                <select name="support" id="support" class="form-control">
                    <option value="" selected></option>
                    <option th:each="console : ${support}" th:value="${console.getId()}"
                            th:text="${console.getNom()}"></option>
                </select>
            </div>
            <input type="submit" value="Envoyer" class="btn btn-success">
        </form>
    </div>
</body>
</html>